// variables
$primary: #FFF;
$secondary: #525298;
$accent: #F5965F;
$background: #F2F1F6;
$body-bg: #e7e6e6;
$display-bg: #FFF;
$text: #262626;
$shadow: rgba(0, 0, 0, 0.1);
$font: 'Roboto', sans-serif;

$primary-dark: #262837;
$secondary-dark: #525298;
$accent-dark: #F5965F;
$background-dark: #1E1C28;
$body-bg-dark: #353243;
$display-bg-dark: #262837;
$text-dark: #FFF;
$shadow-dark: rgba(255, 255, 255, 0.1);