// variables
$primary: #FFF;
$secondary: #525298;
$accent: #F5965F;
$background: #F2F1F6;
$body-bg: #e7e6e6;
$display-bg: #FFF;
$text: #262626;
$shadow: rgba(0, 0, 0, 0.1);
$font: 'Roboto', sans-serif;