@use 'partials/variables' as *;
@use 'partials/theme';
@use 'partials/base';


.calc-container {
    max-width: 400px;
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem var(--shadow);

    .calc-display {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--display-bg);
        border-radius: 1rem;

        &-status {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 0.8rem;
            color: var(--text);

            .branch {
                text-transform: uppercase;
            }

            .icons {
                display: flex;
                gap: 0.2rem;
            } 
        }

        &-controls {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            .calc-display-control {
                border: none;
                background-color: transparent;
                cursor: pointer;
                height: 1rem;
                width: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text);

                &#themeToggle { 
                    i {
                        &.ri-sun-fill { display: none; }
                        &.ri-moon-fill { display: block; }
                    }
                }
            }
        }

        &-history {
            font-size: 1rem;
            color: var(--text);
            opacity: 0.5;
            height: 0.4rem;
        }
        
        &-value {
            font-size: 2rem;
            color: var(--text);
            height: 2rem;
        }
    }

    .calc-body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .calc-button {
            display: flex;
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: none;
            border-radius: 0.5rem;
            background-color: transparent;
        
            font-weight: bold;
            font-size: 1rem;
        
            box-shadow: 0px 1px 2px var(--shadow);

            &.active,
            &:active {
                border: solid 1px var(--shadow);
                background-color: var(--body-bg);
                box-shadow: inset 0px 0px 5px var(--shadow);
            }
        }

        .calc-special-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .calc-button {
                height: 1rem;
                width: 3rem;
            
                color: var(--secondary);
                background-color: var(--background);
                box-shadow: none;
            }
        }

        .calc-button-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            
            .calc-button {
                height: 3rem;
                width: 3rem;
            
                color: var(--secondary);
                background-color: var(--primary);

                &.accent {
                    background-color: var(--accent);
                    color: var(--primary);
                }

                &.operator {
                    background-color: var(--secondary);
                    color: var(--primary);
                }
            }
        }
    }
}

.dark {
    .calc-container {
        .calc-display {
            &-controls {
                .calc-display-control {
                    &#themeToggle { 
                        i {
                            &.ri-sun-fill { display: block; }
                            &.ri-moon-fill { display: none; }
                        }
                    }
                }
            }
        }
    }
}







