
:root {
    --primary: #FFF;
    --secondary: #525298;
    --accent: #F5965F;

    --background: #F2F1F6;
    --body-bg: #e7e6e6;
    --display-bg: #FFF;

    --text: #262626;
}

.dark:root {
    --primary: #262837;
    --secondary: #525298;
    --accent: #F5965F;

    --background: #1E1C28;
    --body-bg: #353243;
    --display-bg: #262837;

    --text: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--body-bg);
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 62.5%; // 1rem = 10px
}

.calc-container {
    max-width: 400px;
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.calc-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--display-bg);
    border-radius: 1rem;
}

.calc-display-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    color: var(--text);
}

.calc-display-status .icons {
    display: flex;
    gap: 0.2rem;
}

.calc-display-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.calc-display-control {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

#themeToggle i.ri-sun-fill {
    display: none;
}

#themeToggle i.ri-moon-fill {
    display: block;
}

.dark #themeToggle i.ri-sun-fill {
    display: block;
}

.dark #themeToggle i.ri-moon-fill {
    display: none;
}

.calc-display-history {
    font-size: 1rem;
    color: var(--text);
    opacity: 0.5;
    height: 0.4rem;
}

.calc-display-value {
    font-size: 2rem;
    color: var(--text);
    height: 2rem;
}

.calc-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calc-special-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.calc-special-buttons .calc-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary);

    width: 3rem;
    height: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.calc-button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.calc-button-grid .calc-button {
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    cursor: pointer;
    border: none;

    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bold;
    font-size: 1rem;
}

.calc-button-grid .calc-button.accent {
    background-color: var(--accent);
    color: var(--primary);
}

.calc-button-grid .calc-button.operator {
    background-color: var(--secondary);
    color: var(--primary);
}

.dark .calc-button {
    color: var(--text) !important;
}